<header>
  <div class="left">
    <!-- <div id="menuAnimation" class="menu-animation" (click)="onToggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div> -->

    <a class="logo" routerLink="/home" tabindex="-1">
      <img [src]="logo" width="48" alt="logo">
    </a>

    {{ title }}
  </div>

  <div class="right">
    <nav>
      <a href="https://forms.google.com">
        <i class="fa fa-comment-dots"></i>
        Avalie o app
      </a>
    </nav>
  </div>
</header>
