* {
  display: flex;
  flex-direction: column;
}

footer {
  height: var(--height_footer);
  background-color: var(--footer-background);
  color: var(--footer-color);
  padding: 8px;
  display: flex;
  justify-content: center;
}
